.wrapper {
  width: 1440px;
  margin: 0 auto;
  background-color: #F3FFFD;
}

.header {
  background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./assets/background.png");
  background-repeat: no-repeat;
}

.header__navbar {
  padding-left: 60px;
  padding-right: 143px;
  margin-bottom: 136px;
  padding-top: 15px;
}

.header__main {
  display: flex;
  flex-direction: column;
  margin:0 auto;
}

.header__bottom {
  margin-bottom:73px;
}


.button {
  padding-top:15px;
  padding-bottom:15px;
  padding-left: 36px;
  padding-right: 36px;
  background: #00CCA6;
  border-radius: 37px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  border: 0;
  white-space: nowrap;
  cursor: pointer;
}

.button--variant_text {
  padding-top:15px;
  padding-bottom:15px;
  padding-left: 66px;
  padding-right: 66px;
  border-radius: 0;
  background-color: transparent;
}

.button--variant_text:hover {
  background-color: rgb(165, 159, 159);
  transition: .3s;
}


/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 273px;
  height: 73px;
  margin-right:auto
}

.navbar__text {
  margin-right:45px;
}

.navbar__button {
  border-radius: 0;
}


.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left:376px;
  padding-right: 376px;
  margin-bottom:146px;
}

.main__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 40px;
  width: 695px;
}

.main__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 40px;
  width: 688px;
}

.main__button {
  margin-bottom:40px;
}


.main__card-container {
  display: flex;
  justify-content: space-between;
  padding-left:197px;
  padding-right:197px;
  background-color: #F3FFFD;
  /* padding-bottom:73px; */
}

.card {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-35px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  /* margin-top: 30px; */
}
.card:nth-child(3) {
  background-color: #00CCA6;
  margin-right:0px;
}

.card__container {
  padding-top: 40px;
  padding-right:3px;
  padding-left: 40px;
  padding-bottom: 40px;
}


.card__img {
  margin-bottom:10px;
}

.card__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  width: 285px;
}



.products {
  display: flex;
  flex-direction: column;
  background-color: #F3FFFD;
  background-image: url("./assets/products-background.png");
  background-position:  101px 690px;
  background-repeat: no-repeat;
 }

 .products__top {
  margin-bottom: 710px;
  padding-left: 227px;
  padding-right: 227px;
 }

 .products__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  justify-content: center;
  margin-bottom: 53px;
 }

 .products__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
  z-index: 1;
 }

 .products__card {
  padding-top: 40px;
  padding-bottom: 28px;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
 }

 .products__card-img {
  width: 102px;
  height: 102px;
  margin-bottom: 30px;
 }

 .products__card-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 10px;
 }
 
 .products__card-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;  
  color: #737373;
  width: 356px;
 }
 .products__images {
  position: absolute;
  top:703px;
  background-color: #F3FFFD;
  padding-left:101px;

 }

.products__bottom {
  display: flex;
  flex-direction: column;
  padding-right: 166px;
  padding-left: 166px;
  justify-content: center;
  align-items: center;
}

.card-long {
  padding-right: 217px;
  padding-top: 72px;
  padding-bottom: 73px;
  padding-left:71px;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin-bottom: 119px;
}

.card-long__transport-tendors1 {
  background-image: url("./assets/truck-02.png");
  background-position:  620px 0px;
  background-repeat: no-repeat;
}

.card-long__transport-tendors2 {
  background-image: url("./assets/Frame.png");
  background-position:  770px 0px;
  background-repeat: no-repeat;
}

.card-long__transport-tendors3 {
  background-image: url("./assets/Frame\ \(2\).png");
  background-position:  800px 0px;
  background-repeat: no-repeat;
}

.card-long__transport-tendors4 {
  background-image: url("./assets/Group.png");
  background-position:  700px 0px;
  background-repeat: no-repeat;
}

.card-long__wrapper {
  display: flex;
  flex-direction: column;
}

.card-long__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 46px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}

.card-long__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 70px;
  letter-spacing: 0.2px;
  width: 819px;
  margin-bottom: 25px;
}

.card-long__button {
  padding-left: 70px;
  padding-right:70px;
  padding-top:15px;
  padding-bottom: 15px;
}

.for-drivers {
  display: flex;
  background-color: #F3FFFD;
  margin-bottom: 51px;
  justify-content: center;
}

.for-drivers__wrapper {
  display: flex;
  align-items: flex-start;
  padding-left: 196px;
  padding-right: 251px;
  padding-top: 98px;
  padding-bottom: 60px;
  background-color: #252B42;
}

.for-drivers__left {
  display: flex;
  flex-direction: column;
  margin-right: 230px;
}

.for-drivers__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.for-drivers__container {
display: flex;
}

.for-drivers__img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.for-drivers__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  width: 509px;
  margin-bottom: 30px;
}

.for-drivers__button {
  padding-left:70px;
  padding-right:70px;
}